@model Academy.Models.DictSet

@{
    var ModelName = "聯絡我們";
    ViewBag.Title = ModelName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
}
@section Scripts {
}

<div class="main">
    <div class="minner">
        <div class="row col1 row_0">
            <div class="mrow">
                <div class="col col_02">
                    <div class="mcol">
                        <div id="Dyn_2_1" class="M19461">
                            <div class="module module-um md_style1">
                                <header class="mt mthide">
                                </header>

                                <section class="mb">
                                    <div class="minner">
                                        <script src="/js/tmcata.js"></script>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div id="Dyn_2_2" class="M19465">
                            <div class="module module-detail md_style1">
                                <div class="module-inner">
                                    <section class="mb">
                                        <div class="mpgtitle">
                                            <h3>
                                                @ModelName
                                            </h3>
                                        </div>
                                        <div class="mcont">
                                            <div class="mpgdetail">
                                                <div class="container-inner page contactus">
                                                    <h1 class="index-title"><span class="en">CONTACT US</span><span class="ch">@ModelName</span></h1>
                                                    <div class="row">
                                                        @if (Model != null)
                                                        {
                                                            @Html.Raw(Model.Value)
                                                        }
                                                    </div>
                                                    <div class="row">
                                                        <div class="module module-form ">
                                                            <section class="mb">
                                                                <section class="form-section" id="_Form_Section_824">
                                                                    <form class="formBS" role="form" method="post" id="msgForm">
                                                                        <div class="row form-group required">
                                                                            <label class="control-label col-sm-3">姓名: </label>
                                                                            <div class="col-sm-8">
                                                                                <input type="text" class="form-control" name="UserName" value="">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row form-group required">
                                                                            <label class="control-label col-sm-3">電話: </label>
                                                                            <div class="col-sm-8">
                                                                                <input type="text" class="form-control" name="Tel" value="">
                                                                            </div>
                                                                        </div><div class="row form-group required">
                                                                            <label class="control-label col-sm-3">E-mail: </label>
                                                                            <div class="col-sm-8">
                                                                                <input type="text" class="form-control" name="Mail" value="">
                                                                            </div>
                                                                        </div><div class="row form-group required">
                                                                            <label class="control-label col-sm-3">內容: </label>
                                                                            <div class="col-sm-8">
                                                                                <textarea name="Content" class="form-control" cols="20" rows="4"></textarea>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                    <footer class="desc"></footer>
                                                                    <div class="form-btn">
                                                                        <button class="btn btn-s" id="btnSendMsg">提交</button>
                                                                    </div>
                                                                    <script>
                                                                        $(function () {
                                                                            $("#btnSendMsg").click(function () {
                                                                                var UserName = $.trim($("input[name='UserName']").val());
                                                                                if (UserName.length == 0) {
                                                                                    alert("請輸入姓名！");
                                                                                    $("input[name='UserName']").focus();
                                                                                    return;
                                                                                }
                                                                                var Tel = $.trim($("input[name='Tel']").val());
                                                                                if (Tel.length == 0) {
                                                                                    alert("請輸入電話！");
                                                                                    $("input[name='Tel']").focus();
                                                                                    return;
                                                                                }
                                                                                var Mail = $.trim($("input[name='Mail']").val());
                                                                                if (Mail.length == 0) {
                                                                                    alert("請輸入E-mail！");
                                                                                    $("input[name='Mail']").focus();
                                                                                    return;
                                                                                } else {
                                                                                    if (Mail.split("@Html.Raw("@")").length == 1 || Mail.split(".").length == 1) {
                                                                                        alert("郵箱地址必須包含@和.");
                                                                                        $("input[name='Mail']").focus();
                                                                                        return;
                                                                                    }
                                                                                }
                                                                                var Content = $.trim($("textarea[name='Content']").val());
                                                                                if (Content.length == 0) {
                                                                                    alert("請輸入諮詢內容！");
                                                                                    $("textarea[name='Content']").focus();
                                                                                    return;
                                                                                }
                                                                                $.ajax({
                                                                                    cache: false,
                                                                                    url: '/Home/PostMsg',
                                                                                    type: "POST",
                                                                                    data: $("#msgForm").serialize(),
                                                                                    dataType: "json",
                                                                                    success: function (msg) {
                                                                                        alert(msg.msg);
                                                                                        $("input[name='UserName']").val("");
                                                                                        $("input[name='Tel']").val("");
                                                                                        $("input[name='Mail']").val("");
                                                                                        $("textarea[name='Content']").val("").text("");
                                                                                    },
                                                                                    timeout: 30000,
                                                                                    error: function (xhr, textStatus) {
                                                                                        alert("發送失敗，請重試！");
                                                                                    }
                                                                                });
                                                                            });
                                                                        })
                                                                    </script>
                                                                </section>
                                                            </section>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>