@{
    Layout = "~/Areas/Sysmgr/Views/Shared/_Layout.cshtml";
}

@section Scripts {
    <!--CK 套件-->
    <script type="text/javascript" src="~/Scripts/ckeditor/ckeditor.js?v=20190902"></script>
    <script type="text/javascript" src="~/Scripts/ckfinder/ckfinder.js"></script>
    <script>
        $(function () {
            // binds form submission and fields to the validation engine
            $.validationEngine.defaults.scroll = false;
            $("#formcontent").validationEngine();
            //提交數據
            $('form').ajaxForm({
                beforeSubmit: function (formData, form, options) {
                    for (var i = 0; i < formData.length; i++) {
                        if (formData[i].name == "SettingContact") {
                            formData[i].value = CKEDITOR.instances.SettingContact.getData();
                        }
                    }
                    layer.load(1, { shade: [0.1, '#fff'] });
                },
                success: function (ret) {
                    //返回數據處理
                    if (ret.success) {
                        layer.closeAll();
                        layer.msg("保存成功！");
                    } else {
                        layer.closeAll();
                        layer.msg(ret.msg);
                    }
                },
                error: function (err) {
                    console.log(err);
                    layer.closeAll();
                    layer.msg("服務器請求異常，請重試！");
                }
            });
        });
    </script>
}
<!--主要內容-->
<article class="contentArea" id="content">
    @using (Html.BeginForm("Contact", "Setting", FormMethod.Post, new { id = "formcontent" }))
    {
    <h1>
        聯絡我們 <span>/ 聯絡我們</span>
        <span class="tip">
            <section class="tipBox">
                <span>&nbsp;</span>
                <ul>
                    <li>*為必填項。</li>
                </ul>
            </section>
        </span>
    </h1>
        @Html.ValidationSummary(true)
        <section class="detailGroup">
            <h3>請編輯內容</h3>
            <div>
                <textarea name="SettingContact" style="width: 100%; height: 400px;">@ViewBag.Dict["SettingContact"]</textarea>
            </div>
        </section>

        <!--功能操作-->
        <section class="openArea">
            <span class="open" title="開啟工具欄">開啟工具欄</span>
        </section>
        <section class="functionArea">
            <span class="close" title="關閉工具欄">關閉工具欄</span>
            <span class="close" title="關閉工具欄" id="closeShort"></span>

            <div>
                <input name="按鈕" type="button" class="btnBack" value="x 回上壹頁">
                <input name="查詢" type="submit" class="btnAdd" value="B 確定修改">
            </div>
        </section>
    }
</article>

<script type="text/javascript">
    if (typeof CKEDITOR == 'undefined') {
        document.write('Download CKEditor false.');
    } else {
        var editorContent = CKEDITOR.replace('SettingContact');
        editorContent.config.width = '100%';
        editorContent.config.height = 400;
        CKFinder.setupCKEditor(editorContent, '/Scripts/ckfinder/');
    }
</script>